.App {
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: #33E9FF;
  color: crimson;
  margin-left: 50px;
  border-radius: 30px;
  border: 2px solid black;
}

input{
  border-radius: 30px;
}


  .form-group{
    color: crimson;
    font-weight: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .form-feedback{
    color: red;
  }
  button{
    border-radius: 30px;

  }
  .valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}


